:root {
    --text-main: #e5e7eb;      
    --text-secondary: #b6c0cc; 
    --text-muted: #7b8794;     
    --text-dark: #1d265a; 


    --accent-blue: #037ffe;    
    --accent-blue-hover: #38bdf8;
    --accent-cyan: #38bdf8;    
    --accent-purple: #9d7cff;  
    --accent-green: #4ade80; 
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #111827;
}

::-webkit-scrollbar-track {
    margin-top: 65px;
}

::-webkit-scrollbar-thumb {
    background: var(--accent-blue);
    border-radius: 10px;
}

body {
  margin: 0;
  margin-top: 60px;
  font-family: system-ui, sans-serif;
    background: linear-gradient(
        135deg,
        #0f172a,  
        #111827,  
        #020617   
    );
    background-size: 200% 200%;
    animation: gradientShift 20s ease infinite;
    color: #e5e7eb;
}

@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
